<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift2Class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0450F98C1DB9EFAA00990454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0450F9A01DB9EFAA00990454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0450F9AB1DB9EFAA00990454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
